<!DOCTYPE html>

<html>
     
  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <center>
      <h1> {{ message }} </h1>
      <br><br>
      {{mas}}
    </center>
    
    <form action="/auth/" method="POST">
      <br><br>
      Su nombre, por favor:
      <input type="text" name="username">
      <br><br>
      Y ahora su contrasena:
      <input type="password" name="pass">
      <br><br>
      <input type="submit" name="log" value="Log in">
      <br><br>
    </form>

    
      Don't have an account yet? Register now!
      <br>
      <form action="/register/" method="POST">
     <br><br>
      Nombre de usuario?:
      <input type="text" name="username">
      <br><br>
      Contrasena?:
      <input type="password" name="pass">
      <br><br>
      <input type="submit" name="reg" value="Register">
      <br><br>
      </form>

      <form action="/other/">
	<input type="submit" name="other" value="check if you're logged in">
      </form>
      
  </body>

</html>
